# Export functions

export(BoxCox)

export(calcpdf)
export(calcpdf_mv)
export(randsamp)
export(randsamp.ball)

export(ident)

export(Hessian)

export(Gnls)
export(Gnls.diag)
export(Gnls.test)
export(Gnls.predict)
export(Confint)

export(resid.diag)
export(resid.diag.boxcox)

export(Impsamp)

export(Loglikeli)
export(Logposterior)
export(Proposal.dist)
export(Markovchain.Metropolis)

export(Plot.res)
export(Plot.vars)
export(Plot.chains)
export(Plot.margs)
export(contourpdf)

export(sens.loc)
export(sens.loc.explicitpars)
export(sens.var.samp)

export(Smooth)
export(Smooth.fun)

export(intpol.irregular)

export(emulator.evaluate)
export(emulator.create)
export(emulator.pri.mean.lin)
export(emulator.pri.var.normal)
export(evaluate.emulator.GASP)

export(model.monod)
export(model.monod.external)
export(model.growth)

#not exported (internal functions or not used): rhs.growth, multmatch, read.distdef, comb, collind, trans.to.interval, trans.from.interval, trans.par.normal.tovec, trans.par.normal.fromvec

# Imports

import(deSolve)
import(lpridge)
